<%= render('layouts/errors', :object => @comment) %>

<%= form_for [@link, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :opinion %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>

