ul {
  list-style-type: none;
}

body {
  text-align: center
}

.header {
  margin-top: 3%;
  max-width: 100%;
  height: auto;
}

.under-header {
  margin-top: 5%;
}

.btn {
  margin: .75%;
}

.navbar-header {
 position:absolute;
 top:0;
 right:0;
 width:400px;
}

